
<div class="c-login-wrapper animated fadeIn">
  <div class="d-flex justify-content-center c-login-container">
      <div class="card c-login-box">
          <div class="card-body">
              <div class="text-center c-login-header">
                  <img src="/assets/img/ht_logo.png" class="rounded-circle" />
              </div>
              <form [formGroup]="loginForm">
                  <div class="form-group row">
                      <div class="col-12">
                          <input class="form-control " type="text" formControlName="userName" placeholder="请输入用户名...">
                          <div class="c-validator-invalid" [hidden]="!(loginForm.controls['userName'].errors && loginForm.controls['userName'].dirty)">
                              用户名必填，6-15位！
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-12">
                          <input class="form-control" type="password" formControlName="password" placeholder="请输入密码...">
                          <div class="c-validator-invalid" [hidden]="!(loginForm.controls['password'].errors && loginForm.controls['password'].dirty)">
                              密码必填，6-15位！
                          </div>
                      </div>
                  </div>

                  <div class="form-group row">
                      <div class="col-12">
                          <button nz-button nzType="default" type="submit" class="btn c-not-shadow" [disabled]="!loginForm.valid" (click)="login();" [nzLoading]="isLoading">
                              <span>登 录</span>
                        </button>
                      </div>
                  </div>
              </form>
              <div class="login_bott">
                  <span class="bott_sp">
                      <input type="checkbox" class="bott_che" id="aaa">
                      <label for="aaa">下次自动登录</label>
                  </span>
                  <a href="" class="bott_a" routerLink="forget-password">忘记密码</a>
              </div>
              <div class="login_bott">
                  <input type="button" routerLink="register" value="立即注册" class="bott_btn">
              </div>
          </div>
      </div>
  </div>
</div>