<div class="aside-inner">
    <!-- <nz-dropdown nzTrigger="click" class="user-block clearfix">
        <div nz-dropdown class="user-block-dropdown">
            <nz-avatar class="avatar" [nzIcon]="'user'" [nzSize]="'large'"></nz-avatar>
            <div class="info">
                <strong>{{settings.user.name}}</strong>
                <p class="text-truncate">{{settings.user.email}}</p>
            </div>
        </div>
        <ul nz-menu>
            <li nz-menu-item (click)="msgSrv.success('profile')">{{ 'profile' | translate }}</li>
            <li nz-menu-item (click)="msgSrv.success('settings')">{{ 'settings' | translate }}</li>
            <li nz-menu-item (click)="msgSrv.success('logout')">{{ 'logout' | translate }}</li>
        </ul>
    </nz-dropdown> -->
    <div class="logo">
        <a [routerLink]="['/']">
            <img class="expanded" src="./assets/img/jiaheng_logo.png" alt="{{settings.app.name}}" style="max-height:40px;" />
            <img class="collapsed" src="./assets/img/jiaheng_logo_small.png" alt="{{settings.app.name}}" style="max-height:22px;" />
        </a>
    </div>
    <sidebar-nav class="d-block"></sidebar-nav>
</div>