<div class="capital_box">
    <div class="capital_top cle">
        <div class="capital_topl cle">
            <span class="topl_sp">
                业务类型：
            </span>
            <select name="" class="topl_sel">
                <option value="">(空)</option>
            </select>
            <span class="topl_sp">
                <i>*</i> 客户：
            </span>
            <div class="topl_div">
                <input type="text" placeholder="零售客户" class="topl_ip"/>
                <span class="topl_ico">...</span>
            </div>
            
            <span class="topl_sp">
                单据日期：
            </span>
        </div>
        <div class="capital_topr cle">
            <div class="topr_div">
                <span class="topr_sp">单据编号：</span>
                <input type="text" class="topr_ip" value="4546456456456445464564564564"/>
                <span class="topr_sp1"></span>
            </div>
            <div class="topr_div1">
                <input type="button" value="保存并新增" class="torp_btn1"/>
                <input type="button" value="保存" class="torp_btn2"/>
            </div>
        </div>
    </div>
    <div class="capital_con">
        <div class="capital_conp">
            <span class="conp_sp"></span>列设置
        </div>
        <table class="capital_tb">
            <tr>
                <th width="60"></th>
                <th>源单编号</th>
                <th>业务类别</th>
                <th>单据日期</th>
                <th>单据金额</th>
                <th>已核销金额</th>
                <th>未核销金额</th>
                <th><i class="red">*</i>本次核销金额</th>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    
                </td>
                <td>

                </td>
                <td>
                    
                </td>
                <td>

                </td>
                <td>
                    <input type="text" class="tbd_ip1"/>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="jj_div">
                        <span class="j_sp"></span>
                        <span class="jian_sp"></span>
                    </div>
                </td>
                <td>
                    
                </td>
                <td>

                </td>
                <td>
                    
                </td>
                <td>

                </td>
                <td>
                    <input type="text" class="tbd_ip1"/>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    合计 :
                </td>
                <td>
                    0.00
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
        </table>
        <div class="tb_fg">
            <input type="button" value="选择应收单据" class="tb_btn"/>
        </div>
        <table class="capital_tb">
            <tr>
                <th width="60"></th>
                <th>源单编号</th>
                <th>业务类别</th>
                <th>单据日期</th>
                <th>单据金额</th>
                <th>已核销金额</th>
                <th>未核销金额</th>
                <th><i class="red">*</i>本次核销金额</th>
            </tr>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="text" class="tbd_ip1"/>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="text" class="tbd_ip1"/>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="text" class="tbd_ip1"/>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="text" class="tbd_ip1"/>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="text" class="tbd_ip1"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>合计:</td>
                <td></td>
                <td></td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
            </tr>
        </table>
        <div class="tb_fg1">
            暂无备注信息
        </div>
    </div>
    <div class="capital_bto">
        <input type="button" value="历史单据" class="bto_btn"/>
        <input type="button" value="操作日志" class="bto_btn1"/>
    </div>
</div>