<div class="s-wrap">
   <div class="s-header">
      <div class="h-w">
         <div class="sub left">
            <div class="item">
               <span>供应商：</span>
               <nz-select style="width: 200px;" nzAllowClear [nzPlaceHolder]="'供应商'" [nzFilter]="false" [nzNotFoundContent]="'无法找到'" nzShowSearch>
                  <nz-option *ngFor="let option of searchOptions" [nzLabel]="option" [nzValue]="option">
                  </nz-option>
                  <nz-option>
                     <ng-template #nzOptionTemplate>
                        <i class="anticon anticon-plus"></i>
                        <span> 新增客户</span>
                     </ng-template>
                  </nz-option>
               </nz-select>
               <button nz-button>
                  <i class="anticon anticon-ellipsis"></i>
               </button>
            </div>
            <div class="item">
               <span>单据日期：</span>
               <nz-datepicker></nz-datepicker>
            </div>
            <div class="item">
               <span>交货日期：</span>
               <nz-datepicker></nz-datepicker>
            </div>
            <nz-radio-group>
               <label nz-radio [nzValue]="'A'">
                  <span>购货</span>
               </label>
               <label nz-radio [nzValue]="'B'">
                  <span>退货</span>
               </label>
            </nz-radio-group>
         </div>
         <div class="sub right">
            <div class="item editnum">
               <span>单据编号：</span>
               <nz-input style="width: 150px;" [ngModel]="num" (nzBlur)="editnum=false;" *ngIf="editnum"></nz-input>
               <span class="txt" *ngIf="!editnum" (click)="editnum=true">
                  <span>{{num}}</span>
                  <i class="anticon anticon-edit"></i>
               </span>
            </div>
            <button nz-button [nzType]="'primary'">
               <span>保存并新增</span>
            </button>
            <button nz-button [nzType]="'default'">
               <span>保存</span>
            </button>
         </div>
      </div>
   </div>
   <div class="s-main">
      <div class="m-table">
         <div class="title">组合件：</div>
         <nz-table #nzTable [nzScroll]="{ y: 640,x: 2500 }" [nzDataSource]="_dataSet" [nzBordered]="true" [nzLoading]="_loading" [nzIsPagination]="false"
            [nzPageSize]="50" nzShowTotal nzShowQuickJumper nzShowSizeChanger [nzShowFooter]="false" [nzShowTitle]="false" [nzSize]="'default'"
            [nzCustomNoResult]="true">
            <span nz-table-title>Title</span>
            <span noResult>暂无数据</span>
            <ng-template #nzFixedHeader>
               <thead nz-thead>
                  <tr>
                     <th nz-th [nzWidth]="'50px'">
                        <i class="anticon anticon-setting"></i>
                     </th>
                     <th nz-th [nzWidth]="'180px'">
                        <i style="color: #e60000;">*</i>
                        <span>商品--扫描枪录入</span>
                        <nz-switch [(ngModel)]="userScanner" [nzSize]="'small'"></nz-switch>
                     </th>
                     <th nz-th [nzWidth]="'200px'">
                        <i style="color: #e60000;">*</i>
                        <span>商品编号--扫描枪录入</span>
                        <nz-switch [(ngModel)]="userScanner" [nzSize]="'small'"></nz-switch>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>规格型号</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>球镜</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>柱镜</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>轴位</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>通道</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>ADD</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>颜色</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>直径</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>左/右</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>单位</span>
                     </th>
                     <th nz-th [nzWidth]="'120px'">
                        <i style="color: #e60000;">*</i>
                        <span>仓库</span>
                        <nz-popconfirm [nzPlacement]="'bottomLeft'">
                           <ng-template #nzTemplate>
                              <div style="margin: 5px 0;">打折打折打折打折打折</div>
                              <nz-input style="margin: 10px 0;" [nzPlaceHolder]="'打折'">
                                 <ng-template #addOnAfter>%</ng-template>
                              </nz-input>
                              <div style="text-align: right;margin: 5px 0;">
                                 <button nz-button [nzSize]="'small'">确定</button>
                              </div>
                           </ng-template>
                           <button style="margin-left: 3px;" nz-popconfirm nz-button [nzSize]="'small'">批量</button>
                        </nz-popconfirm>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <i style="color: #e60000;">*</i>
                        <span>数量</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <span>购货单价</span>
                     </th>
                     <th nz-th [nzWidth]="'150px'">
                        <span>折扣率(%)</span>
                        <nz-popconfirm [nzPlacement]="'bottomLeft'">
                           <ng-template #nzTemplate>
                              <div style="margin: 5px 0;">打折打折打折打折打折</div>
                              <nz-input style="margin: 10px 0;" [nzPlaceHolder]="'打折'">
                                 <ng-template #addOnAfter>%</ng-template>
                              </nz-input>
                              <div style="text-align: right;margin: 5px 0;">
                                 <button nz-button [nzSize]="'small'">确定</button>
                              </div>
                           </ng-template>
                           <button style="margin-left: 3px;" nz-popconfirm nz-button [nzSize]="'small'">批量</button>
                        </nz-popconfirm>
                     </th>
                     <th nz-th [nzWidth]="'110px'">
                        <span>折扣率</span>
                        <nz-popconfirm [nzPlacement]="'bottomLeft'">
                           <ng-template #nzTemplate>
                              <div style="margin: 5px 0;">打折打折打折打折打折</div>
                              <nz-input style="margin: 10px 0;" [nzPlaceHolder]="'打折'">
                                 <ng-template #addOnAfter>%</ng-template>
                              </nz-input>
                              <div style="text-align: right;margin: 5px 0;">
                                 <button nz-button [nzSize]="'small'">确定</button>
                              </div>
                           </ng-template>
                           <button style="margin-left: 3px;" nz-popconfirm nz-button [nzSize]="'small'">批量</button>
                        </nz-popconfirm>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <span>购货金额</span>
                     </th>
                     <th nz-th [nzWidth]="'100px'">
                        <span>备注</span>
                     </th>
                     <th nz-th>
                        <span>关联销货订单号</span>
                     </th>
                  </tr>
               </thead>
            </ng-template>
            <tbody nz-tbody>
               <tr nz-tbody-tr class="hover-tr" *ngFor="let item of _dataSet;let i = index">
                  <td nz-td class="first-td">
                     <span>{{i+1}}</span>
                     <div class="btns">
                        <span class="plus" (click)="addTr(i)">
                           <i class="anticon anticon-plus"></i>
                        </span>
                        <span class="minus" (click)="removeTr(i)">
                           <i class="anticon anticon-minus"></i>
                        </span>
                     </div>
                  </td>
                  <td nz-td>
                     <nz-input *ngIf="userScanner" [nzPlaceHolder]="'商品'"></nz-input>
                     <nz-popover [nzTrigger]="'click'" [nzPlacement]="'bottomLeft'">
                        <nz-input nz-popover (input)="selectGoodModal($event)" *ngIf="!userScanner" [(ngModel)]="siteName">
                           <ng-template #addOnAfter>选择</ng-template>
                        </nz-input>
                        <ng-template #nzTemplate>
                           <div>
                              <p>内容</p>
                              <p>内容</p>
                           </div>
                        </ng-template>
                     </nz-popover>
                  </td>
                  <td nz-td>
                     <nz-input *ngIf="userScanner" [nzPlaceHolder]="'商品编号'"></nz-input>
                     <nz-popover [nzTrigger]="'click'" [nzPlacement]="'bottomLeft'">
                        <nz-input nz-popover (input)="selectGoodModal($event)" *ngIf="!userScanner" [(ngModel)]="siteName">
                           <ng-template #addOnAfter>批量</ng-template>
                        </nz-input>
                        <ng-template #nzTemplate>
                           <div>
                              <p>内容</p>
                              <p>内容</p>
                           </div>
                        </ng-template>
                     </nz-popover>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'型号'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'球镜'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'柱镜'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'轴位'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'通道'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'ADD'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'颜色'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'直径'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'左/右'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'单位'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-select style="width:100px;" [nzPlaceHolder]="'选择仓库'" nzAllowClear>
                        <nz-option [nzLabel]="1" [nzValue]="1" [nzDisabled]="false"></nz-option>
                     </nz-select>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'数量'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'购货单价'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'折扣率（%）'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'折扣率'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'购货金额'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'备注'"></nz-input>
                  </td>
                  <td nz-td>
                     <nz-input [nzPlaceHolder]="'关联销货订单号'"></nz-input>
                  </td>
               </tr>
               <tr nz-tbody-tr class="hover-tr">
                  <td nz-td class="first-td"></td>
                  <td nz-td class="text-left">合计：</td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td> </td>
                  <td nz-td class="text-right">0</td>
                  <td nz-td></td>
                  <td nz-td></td>
                  <td nz-td class="text-right">0.00</td>
                  <td nz-td class="text-right">0.00</td>
                  <td nz-td></td>
                  <td nz-td></td>
               </tr>
            </tbody>
            <span nz-table-footer>footer</span>
         </nz-table>
      </div>
   </div>
   <div class="s-foot">
      <div class="note">
         <nz-input class="txt" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'暂无备注信息'"></nz-input>
      </div>
      <div class="money inputs">
         <span>优惠券：</span>
         <nz-input style="" [(ngModel)]="inputValue" [nzPlaceHolder]="'0.00'" (ngModelChange)="_console($event)">
            <ng-template #addOnAfter>%</ng-template>
         </nz-input>
         <span>优惠金额：</span>
         <nz-input style="" [(ngModel)]="inputValue" [nzPlaceHolder]="'0.00'" (ngModelChange)="_console($event)"></nz-input>
         <span>优惠后金额：</span>
         <nz-input style="" [(ngModel)]="inputValue" [nzPlaceHolder]="'0.00'" [nzDisabled]="true"></nz-input>
      </div>
      <!-- <div class="ziduan">
              <i class="anticon anticon-edit"></i>
              <span>自定义字段</span>
          </div> -->
      <div class="btn">
         <button nz-button [nzType]="'primary'" routerLink="/trade/order-search">
            <span>历史单据</span>
         </button>
         <button nz-button [nzType]="'default'">
            <span>操作日志</span>
         </button>
      </div>
   </div>
</div>