<div class="head">
    <nz-input style="width: 220px;" [nzPlaceHolder]="'请输入单据号或客户名或备注'"></nz-input>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span>日期：</span>
    <nz-datepicker style="width: 130px;" nzShowTime [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'开始日期'"></nz-datepicker>
    <span style="color: #999999;white-space: nowrap;">&nbsp;--&nbsp;</span>
    <nz-datepicker style="width: 130px;" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'结束日期'"></nz-datepicker>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>付款人：</span>
    <nz-select style="width: 130px;" [nzPlaceHolder]="'（空）'" nzAllowClear>
        <nz-option *ngFor="let option of [{},{},{}]" [nzLabel]="option.label" [nzValue]="option" [nzDisabled]="option.disabled">
        </nz-option>
    </nz-select>
    <button nz-button [nzType]="'default'" (click)="powerSearch.showModal()">
        <span>高级搜索</span>
    </button>
    <button nz-button [nzType]="'primary'">
        <span>查询</span>
    </button>
</div>
<div class="s-main">
    <div class="table-hd">
        <div class="point">
            <i class="anticon anticon-setting"></i>&nbsp;
            <span>列设置</span>
        </div>
        <div class="btns">
            <button nz-button [nzType]="'primary'">
                <span>新增</span>
            </button>
            <button nz-button [nzType]="'primary'" nzGhost>
                <span>打印</span>
            </button>
            <button nz-button [nzType]="'default'">
                <span>导出</span>
            </button>
            <button nz-button [nzType]="'default'">
                <span>删除</span>
            </button>
        </div>
    </div>
    <div class="table-m">
        <nz-table #nzTable [nzScroll]="{ y: 640,x: 1900 }" [nzDataSource]="_dataSet" [nzBordered]="true" [nzLoading]="_loading" [nzIsPagination]="true"
            [nzPageSize]="50" nzShowTotal nzShowSizeChanger nzShowQuickJumper [nzShowFooter]="false" [nzShowTitle]="false" [nzSize]="'default'"
            [nzCustomNoResult]="true" nzPageSizeSelectorValues (nzDataChange)="_displayDataChange($event)">
            <span nz-table-title>Title</span>
            <span noResult>暂无数据</span>
            <ng-template #nzFixedHeader>
                <thead nz-thead>
                    <tr>
                        <th nz-th [nzWidth]="'50px'" nzCheckbox>
                            <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                            </label>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>操作</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>单据日期</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>单据编号</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>购货单位</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>结算账户</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>付款金额</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>收款方式</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>结算号</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>分录备注</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>付款合计</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>本次核销金额</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>整单折扣</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>本次预付款</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>收款人</span>
                        </th>
                        <th nz-th [nzWidth]="'110px'">
                            <span>制单人</span>
                        </th>
                        <th nz-th></th>
                    </tr>
                </thead>
            </ng-template>
            <tbody nz-tbody>
                <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td nzCheckbox>
                        <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                        </label>
                    </td>
                    <td nz-td>{{data.a}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>{{data.b}}</td>
                    <td nz-td>
                        <span>
                            <a>{{data.b}}</a>
                            <span nz-table-divider></span>
                            <a>删除</a>
                            <span nz-table-divider></span>
                        </span>
                    </td>
                    <td nz-td></td>
                </tr>
            </tbody>
            <span nz-table-footer>footer</span>
        </nz-table>
    </div>
</div>
<s-power-search-modal #powerSearch></s-power-search-modal>